@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#landing-wrapper-parent {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#landing-wrapper {
  position: absolute;
  width: 300px;
  height: 200px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -100px 0 0 -150px;

  border: white 3px solid;
  border-radius: 10px;

  text-align: center;

  animation-name: fadeIn;
  animation-duration: 1.5s;
}

#login-btn-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#login-btn-wrapper button {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-wrapper p {
  position: relative;
  top: 23px;
  left: 5px;
  color: white;
  font-size: 25px;
  font-family: "Couplet";
}

.hidden {
  opacity: 0;
}
.fade-in {
  color: white;
  animation: fadeIn;
  animation-duration: 1.5s;
}

#outcry {
  position: absolute;
  bottom: 105px;
  right: 130px;
  width: 400px;
}

/* .outcry {
  position: absolute;
  z-index: 100px;
  width: 400px;
  background: url("../../assets/outcry-white.png");
} */

@font-face {
  font-family: "Couplet";
  src: local("Couplet"),
    url("../../assets/Couplets-on-the-Spring-Festival-Font-Traditional-Chinese.ttf")
      format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:700&display=swap");
