@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#details-wrapper-parent {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#details-wrapper {
  position: absolute;
  top: 48%;
  left: 50%;

  width: 650px;
  height: 550px;

  margin: -210px 0 0 -320px;

  border: white 3px solid;
  border-radius: 10px;

  text-align: center;

  animation-name: fadeIn;
  animation-duration: 3s;
}

#details-form-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#details-form-wrapper form {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: left;

  width: 80%;
}

.form-label {
  color: white;
  font-family: "Couplet";
  font-size: 18px;
}

input.form-control {
  border: white 1px solid;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Libre Baskerville", sans-serif;
}

button.btn {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -40px;

  font-size: 14px;
  font-family: "Libre Baskerville", sans-serif;

  width: 100px;

  border: white 1px solid;
  background-color: transparent;
}

button.btn:hover {
  background-color: white;
  cursor: pointer;
  color: black;
  border: white 1px solid;
}

.outcry-details-page {
  position: absolute;
  bottom: 450px;
  right: 475px;
  width: 400px;
  opacity: 0.5;
  transition: 0.3s;
}

.outcry-details-page:hover {
  opacity: 1;
  transition: 0.3s;
}

#edit-user-details-details-page {
  position: absolute;
  top: 330px;
  right: 650px;
  width: 250px;
  opacity: 1;
}

.edit-user-alias-details-page {
  position: absolute;
  top: 250px;
  left: 603px;
  width: 250px;
  opacity: 0.5;
  transition: 0.3s;
  animation: fadeInLink;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.edit-user-alias-details-page:hover {
  opacity: 1;
  transition: 0.3s;
}
